/* Usaremos sempre margin button ao inves de margin top pra ajustar os elementos.

Para isso usaremos o align-itens: end

Entao sempre que eu precisar de espaco entre os elementos, eu uso o margin-button e vai subir os elementos pra cima.

*/

.introducao-bg {
  background: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-0); /* inset serve para mudar a direcao da sombra para interna */
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2.5rem;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px; /* Por padrao iremos mudar somente a parte inferior */
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* Curiosidade: Usamos o line-height com um valor relativo (1.125) para manter o espaçamento entre as linhas proporcional ao tamanho da fonte. Nesse caso, 1.125 significa que a altura total da linha será 112,5% do tamanho da fonte. O cálculo é simples: 64px (tamanho da fonte) x 1.125 = 72px de altura total para a linha. Ou podemos conferir no Figma, que também mostra essa porcentagem. */
.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 1.25rem;
  color: var(--cor-5);
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }

  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    box-shadow: inset 0 -60px var(--cor-0);
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-conteudo {
    padding-bottom: 0;
  }

  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
