.parceiros {
  border: 1px solid black;
  padding-top: 60px;
  padding-bottom: 120px;
}

.parceiros h2 {
  margin-bottom: 60px;
}

.parceiros ul {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
  display: flex; /* Usado para centralizar as img no centro */
  padding: 32px;
  border-left: 2px solid var(--cor-2);
}

.parceiros img {
  margin: auto; /* Usado com flex para alinhar a img ao centro */
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  /* n é uma variável que começa em 0 e vai incrementando (0, 1, 2, 3, 4, ...). */
  border-top: 2px solid var(--cor-2);
}

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 60px;
  }

  .parceiros h2 {
    padding-bottom: 20px;
  }

  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .parceiros li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-2);
  }

  .parceiros li:nth-child(odd) { /* remover para as linhas impares, se fosse pares seriam even */
    border-left: none;
  }
}
